body {
	background-color: #000;
}

.panel-title {
	font-size: 1.5em;
}

th {
	font-size: 1.5em;
}

td {
	font-size: 1em;
}

.btn {
	background-color: #000;
	color: #ddd;
}

.btn:hover {
	color: #fff;
	border-color: #fff;
}