body {
	background-color: #000;
}

.jumbotron h1 {
	font-size: 5em;
}

.train-div {
	background-image: url("../images/brushed.png");
	margin-top: -1em;
	margin-bottom: 1em;
}

img {
	width: 50%;
}

.panel-title {
	font-size: 1.5em;
}

th {
	font-size: 1.5em;
}

td {
	font-size: 1em;
}

.btn {
	background-color: #000;
	color: #ddd;
}

.btn:hover {
	color: #fff;
	border-color: #fff;
}